{
   "space": {
     "name": "Default",
     "description": "This is default space.",
     "color": "#00bfb3",
     "disabledFeatures": [
       "enterpriseSearch",
       "uptime",
       "siem",
       "stackAlerts",
       "actions"
     ],
     "_reserved": true
   },
   "type": "space",
   "migrationVersion": {
     "space": "6.6.0"
   }
}
